<!-- footer.html -->
{% block footer %}
    {% if now %}
    <p style='font=family:微軟正黑體;'>現在時刻:{{ now }}</p>
    {% else %}
    <p style='font=family:微軟正黑體;'>本文內容取自網路，如有侵權請來信告知下架...</p>
    {% endif %}
{% endblock %}