<!-- index.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %}
    <h3 style='font=family:標楷體;'>本站文章列表</a>
{% endblock %}
{% block content %}
    {% for post in posts %}
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href='/post/{{post.slug}}'>{{ post.title }}</a>
        </p>
    {% endfor %}
{% endblock %}