<!-- post.html -->
<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} {{ post.title}} - 文學天地 {% endblock %}
{% block headmessage %}
    <h3 style='font-family:微軟正黑體;'>{{ post.title }}</h3>
{% endblock %}
{% block content %}
    <p style='font-family:微軟正黑體;font-size:12pt;letter-spacing:2pt;'>
        {{ post.body }}</a>
    </p>
{% endblock %}